<ul>
    <li><a class="" href="{{@blog.url}}">Home</a></li>
    <li><a class="" href="{{@blog.url}}/about">About</a></li>
    <li><a class="" href="{{@blog.url}}/publications">Publications</a></li>
</ul>
